*.iml
.gradle
.idea
.kotlin
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.curseforge_api.txt
.oauth_client_id.txt
.store_password.txt
.key_password.txt
.r2_account_id.txt
.r2_access_key.txt
.r2_secret_key.txt
/TropimonLauncher/tropimon_launcher.jks
